*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

 .pagina_inventario2 {
    background:#f5ebde !important;
    width: 100%;
    min-height: 100vh;
    padding-top: 80px;
}


.barra-superior_2{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 8px 15px;
  background: linear-gradient(to right, #B6A999, #F4E1B6);
  height: 65px;
  box-shadow: 0 3px 5px #B6A999;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 35px;
  position: fixed;
  top: 0;
  left: 0;
  width: 75%;
}

.logo2 {
  height: 90px;
  margin-right: -120px;
  padding: 0;
  object-fit: contain;  /* mantiene proporción de la imagen */
}


.Menuinven{
  height: 100vh;
  width: 200px;
  position: fixed;
  top: 0px;
  left: 0;
  background: #CADBEC;
  transition: 0.5s ease;
  transform: translateX(-200px);
  font-size: 20px;
}

.menu_inven{
  color: #B6A999;
  font-family: 'Times New Roman', Times, serif;
  text-align: right;
  padding: 10px 0;
  padding-right: 10px;
  pointer-events: none;
  font-size: 50px;
}

.Inven li{
    list-style: none;
}

.Inven li a{
    color: #B6A999;
    font-weight: 500;
    padding: 9px 0;
    display: flex;
    text-transform: capitalize;
    text-decoration: none;
    transition: 0.2s ease-out;
    gap: 10px;
    font-size: 20px;
}

.Inven li:hover a{
    color: #333;
    background-color: #CADBEC;
}

.Inven li a i{
    color: #B6A999;
    min-width: 25px;
    text-align: center;
}


.lineas-check_Inven{
    display: none;
}


.Lineas_Inven{
    position: absolute;
    height: 30px;
    width: 30px;
    top: 20px;
    left: 15px;
    z-index: 2;
    cursor: pointer;
    border-radius: 5px;
    background-color: #B6A999;
    box-shadow: 0 0 10px #00060c;
}

.Lineas_Inven .common{
    position: absolute;
    height: 2px;
    width: 20px;
    background-color: #CADBEC;
    border-radius: 50px;
    transition: 0.3s ease;
}

.Lineas_Inven .top_line{
    top: 30%;
    left: 50%;
    transform: translate(-50%,-50%);
}

.Lineas_Inven.middle_line{
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}


.Lineas_Inven .bottom_line{
    top: 70%;
    left: 50%;
    transform: translate(-50%,-50%);
}

.lineas-check_Inven:checked ~ .Lineas_Inven .top_line{
    left: 2px;
    top: 14px;
    width: 25px;
    transform: rotate(45deg);
}

.lineas-check_Inven:checked ~ .Lineas_Inven .bottom_line{
    left: 2px;
    top: 14px;
    width: 25px;
    transform: rotate(-45deg);
}


.lineas-check_Inven:checked ~ .Lineas_Inven .middle_line{
    opacity: 0;
    transform: translateX(20px);
}

.lineas-check_Inven:checked ~.Menuinven{
    transform: translateX(0);
    box-shadow: 0 0 15px #B6A999;
}
/*DEMAS*/ 

.TituloInventario{
  text-align: center;
  font-size: 50px;
  font-weight: 900;
  color: #d8cfbf;
  margin-top: 1700px;
  margin-bottom: 10px;
  text-shadow: 1px 1px 2px, #7a6f61 0 0 1em, #7a6f61 0 0 0.2em;
}

.hr2{
  border: none;
  border-top: 1px solid  #B6A999;
  margin: 10px 0;
  height: 3px;
  margin-bottom: 10px;
}

/* Tabla */

.Container_inven {
  align-items: center;
  background: linear-gradient(to right, #B6A999, #CADBEC);
  padding: 10px 10px;
  border-radius: 6px;
  box-shadow: 0 2px 6px rgba(0,0,0,0.15);
  justify-content: center;
  margin: 30px;
  overflow-x: auto;
  width: 85%;
  box-sizing: border-box; /* Esta línea ayuda mucho */
}

.Titulos_Inven {
  border-collapse: collapse;
  margin: 0 auto;
  width: auto;
  text-align: center;
  table-layout: fixed; /* <- Esto */
}

th, td {
  border: none;
  padding: 12px 8px; /* Menos padding horizontal */
  text-align: center;
  font-size: 20px;
  font-family: 'Times New Roman', Times, serif;
  color: #443f39;
}

th {
    background: #e5ded3;
    font-size: 20px;
    font-weight: bold;
    letter-spacing: 1px;
    border-radius: 2px;
    box-shadow: 0 3px 6px rgba(0,0,0,0.15);
}


/* Botón */
.btn-container {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.btn-container button {
    padding: 12px;
    font-size: 22px;
    border-radius: 5px;
    border: none;
    background: linear-gradient(to right, #CADBEC, #B6A999);
    color: #443f39;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    cursor: pointer;
    width: 65%;
    font-weight: bold;
    transition: 0.3s ease;
}

.btn-container button:hover {
    background:#CADBEC;
    color: #443f39;
}


/*MODAL*/

/* Fondo oscuro del modal */
#modal {
  display: none; 
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0; left: 0;
  width: 100%; height: 100%;
  background: rgba(0, 0, 0, 0.6);
  z-index: 1000;
}

/* Caja del modal */
.modal-content {
  background: linear-gradient( to right, #CADBEC, #B6A999);
  border: 2px solid #443f39;
  border-radius: 8px;
  padding: 20px;
  width: 350px;
  text-align: center;
  font-family: "Impact", "Arial Black", sans-serif;
  box-shadow: 0 4px 10px rgba(0,0,0,0.3);
}


.modal-content h3 {
  font-size: 30px;
  font-weight: bold;
  margin-bottom: 15px;
  text-transform: uppercase;
  color:#443f39
}


.preview-img,
#previewImg {
  width: 150px;
  height: 150px;
  border: 2px dashed #B6A999; /* 👈 estilo de "área clickeable" */
  border-radius: 10px;
  object-fit: contain;
  display: block;
  margin: 0 auto;
  background: #f9f9f9;
  cursor: pointer;
}

#imagenInput {
  display: none; /* 👈 escondemos el input */
}

/* Inputs */
.modal-content input[type="text"],
.modal-content input[type="number"] {
  width: 85%;
  padding: 8px;
  margin: 10px 0;
  font-size: 16px;
  font-weight: bold;
  text-align: center;
  border-radius: 10px;
  border: 0;
  background: #e5ded3;
  color: #443f39;
}

/* Botones */
.modal-content button {
  width: 85%;
  padding: 10px;
  margin-top: 12px;
  font-size: 16px;
  font-weight: bold;
  border-radius: 10px;
  border: 0;
  cursor: pointer;
  text-transform: uppercase;
  border: 1px solid #66625e;
}

/* Botón principal */
.btn-primary {
  background: #CADBEC;
  color: #443f39;
  
}

.btn-primary:hover {
  background: #F4E1B6;
  color: #443f39;
  border: 1px solid #66625e;
}

/* Botón secundario */
.btn-secondary {
  background: #F4E1B6;
  color: #443f39;
  
}

.btn-secondary:hover {
  background: #CADBEC;
  color: #443f39;
  border: 1px solid #66625e;
}

/* ICONP DE EDITAR*/
.edit-icon {
  margin-left: 10px;
  color: #443f39;
  cursor: pointer;
  transition: color 0.3s;
}
.edit-icon:hover {
  color: #F4E1B6;
}

/* Fondo oscuro (agregar y editar usan el mismo estilo) */
#modal, #modalEditar {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
  z-index: 1000;
}

/* Caja del modal (compartida para ambos) */
.modal-content {
  background: linear-gradient(to right, #CADBEC, #B6A999);
  border: 2px solid #443f39;
  border-radius: 8px;
  padding: 20px;
  width: 350px;
  text-align: center;
  font-family: "Impact", "Arial Black", sans-serif;
  box-shadow: 0 4px 10px rgba(0,0,0,0.3);
}

/* Buscar */
.BuscarInvent{
  width: 80%;
  margin-left: 45px;
  font-size: 20px;
  font-family: 'Times New Roman', Times, serif;
  text-align: center;
  border-radius: 5px;
  border: none;
}

.inventbuscar::placeholder{
  color: #242222;
  font-size: 20px;
  font-family: 'Times New Roman', Times, serif;
  text-align: center;
  font-weight: bold;
}





